h1{Color: DarkViolet}
h2{color:BlueViolet}
h3{color:BlueViolet}
h4{color:DarkOrchid}
h5{Color:DarkOrchid}

li {list-style-type:square; color:Indigo}

background-color {lightgrey}

body{font-family:Optima, Verdana, sans-serif;}


h1{text-align:center
}
.HR {60%}

 
.heading{text-align:center; border-bottom: groove; 60%;
  
  
  
}

.experience{text-align:center;border-bottom: dotted; 
  60%
} border {3px;
color:Indigo; 10 10 10 10
}

